body {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
.content {
  background-image: linear-gradient(rgba(64, 6, 6, 0.1), rgba(1, 8, 8, 0.5)),
    url(images/cover8.png);
  min-height: 100vh;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
}

.navbar {
  background-color: #146c94;
}
.logo {
  max-width: 120px;
}
.navbar-nav {
  justify-content: space-between;
  font-size: 1.25em;
  gap: 1rem;
}

.navbar-brand {
  padding: 0%;
}

.search_bar {
  padding: 2rem 1rem;
  justify-content: left;
  display: flex;
}
#searcharea {
  justify-content: center;
}
.searchbar {
  width: 600px;
  background-color: white;
  opacity: 70%;
  display: flex;
  align-items: right;
  border-radius: 60px;
  padding: 0px 10px;
  margin: 0;
}
.btn {
  outline: none;
  border: none;
  background-color: transparent;
}
.searchbar input {
  outline: none;
  border: none;
  background: transparent;
}

.location_bar {
  padding: 2rem;
  justify-content: left;
  display: flex;
}
.locationbar {
  width: 200px;
  background-color: white;
  opacity: 70%;
  display: flex;
  align-items: left;
  border-radius: 60px;
  padding: 0px;
}
.locationbar input {
  outline: none;
  border: none;
  background: transparent;
}
.filterbar {
  width: 150px;
  background-color: white;
  opacity: 70%;
  display: flex;
  align-items: left;
  border-radius: 60px;
  padding: 0px;
}
.filterbar input {
  outline: none;
  border: none;
  background: transparent;
}
#filters {
  background-color: #146c94;
  padding: 2px;
  font-size: smaller;
  margin-top: -30px;
  margin-right: 60px;
}
#even {
  padding: 0;
  margin-bottom: 3px;
  background: rgb(247, 237, 237);
}
#odd {
  background: #afd3e2;
  margin-bottom: 3px;
}

#Available_Schedule {
  margin-left: 2rem;
}

#doctorspanel {
  padding: 0;
  margin: 0;
}
#book_now {
  background: green;
  margin: 10px 0;
}
#check_profile {
  background: blue;
  margin: 10px 0;
}
span a {
  color: #146c94;
}

.links_footer {
  color: whitesmoke;
  font-weight: lighter;
  font-size: x-small;
}
.learn_links {
  color: whitesmoke;
  font-weight: lighter;
  font-size: x-small;
}

#linkfooter {
  color: white;
  text-decoration: none;
}
#linkfooter:hover {
  color: #19a7ce;
}
