body {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
#available {
  background-image: linear-gradient(
      rgba(64, 67, 67, 0.1),
      rgba(30, 59, 59, 0.5)
    ),
    url(images/cover7.png);
  min-height: 50vh;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}

.navbar {
  background-color: #146c94;
}
.logo {
  max-width: 120px;
}
.navbar-nav {
  justify-content: space-between;
  font-size: 1.25em;
  gap: 1rem;
}

.navbar-brand {
  padding: 0%;
}
